/*Reseteo*/
* {
    margin: 0;
    padding: 0;
}

/* -----MAIN----- */
.logo-hero {
    height: 200px;
}

.hero-section {
    border-top: solid 2px #ffffff;
    background-image: url('../resources/dark-plaster-pattern.jpg');
    background-size: cover;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px;
}

a {
    color: #212529;
    text-decoration: none;
}

.conocenos {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    align-content: space-between;
    flex-wrap: wrap;
}

h2 {
    color: #982fab;
}

.text-image-combo-text {
    width: 700px;
    padding: 25px;
}

.text-image-combo-image {
    width: 400px;
    padding: 0px;
}

.programas {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    align-content: space-between;
}

.text-box {
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-programas {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-auto-columns: 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "camp camp basics drills"
        "camp camp basics kids";
}

.camp {
    grid-area: camp;
    background-image: url('../resources/camp.png');
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.basics {
    grid-area: basics;
    background-image: url('../resources/basics.png');
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.drills {
    grid-area: drills;
    background-image: url('../resources/drills.png');
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.kids {
    grid-area: kids;
    background-image: url('../resources/kids.png');
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fight-opportunities {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    align-content: space-between;
    flex-wrap: wrap;
}

.newsletter {
    background-image: url('../resources/background-newsletter.png');
    background-size: cover;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    align-content: space-between;
    flex-wrap: wrap;
}

.footer {
    border-top: solid 2px #ffffff;
    background-image: url('../resources/dark-plaster-pattern.jpg');
    background-size: cover;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    text-transform: capitalize;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px;
}

/* MEDIAS QUERYS - MOBILE LAST */

@media (max-width: 600px) {
    .logo-hero {
        width: 150%;
    }

    .conocenos {
        background-color: #212529;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        padding: 20px;
    }

    .text-image-combo-text {
        width: auto;
    }

    .text-image-combo-image {
        width: 200px;
    }

    .programas {
        background-color: #212529;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
    }

    .text-box {
        width: auto;
    }

    .info-programas {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 200px 200px;
        gap: 25px 25px;
        grid-template-areas:
            "camp camp basics basics"
            "drills drills kids kids";
            justify-content: center;
    }

    .text-image-combo-text {
        text-align: center;
    }

    .fight-opportunities {
        padding: 20px;
    }


}

.hero-sec-programas {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo photo tittle tittle"
        "photo photo tittle tittle";
    border-top: solid 2px #ffffff;
}

.tittle {
    grid-area: tittle;
    background-image: url(../resources/background-newsletter.png);
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.photo-programas {
    grid-area: photo;
    background-image: url(../resources/programas.png);
    background-size: cover;
}

.text-image {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px;
    align-content: space-between;
    flex-wrap: wrap;
}

.foto-index {
    height: 300px;
    padding: 20px;
}

/* MEDIAS QUERYS - MOBILE LAST */

@media (max-width: 600px) {
    .hero-sec-programas {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 300px 300px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "photo photo photo photo"
            "tittle tittle tittle tittle";
        border-top: solid 2px #ffffff;
    }

    .text-image {
        background-color: #212529;
        font-family: "Lato", sans-serif;
        color: white;
        font-size: 18px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        align-content: space-between;
        flex-wrap: wrap;
}

.hero-sec-horarios {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo photo tittle tittle"
        "photo photo tittle tittle";
    border-top: solid 2px #ffffff;
}

.tittle {
    grid-area: tittle;
    background-image: url(../resources/background-newsletter.png);
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.photo-horarios {
    grid-area: photo;
    background-image: url(../resources/horarios.png);
    background-size: cover;
}

.horario {
    background-color: #212529;
    padding: 100px 50px;
}

.table {
    text-align: center;
    align-items: center;
}

@media (max-width: 600px) {
    .hero-sec-horarios {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 300px 300px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "photo photo photo photo"
            "tittle tittle tittle tittle";
        border-top: solid 2px #ffffff;
    }
}

.hero-sec-planes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo photo tittle tittle"
        "photo photo tittle tittle";
    border-top: solid 2px #ffffff;
}

.tittle {
    grid-area: tittle;
    background-image: url(../resources/background-newsletter.png);
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.photo-planes {
    grid-area: photo;
    background-image: url(../resources/planes.png);
    background-size: cover;
}

.planes-all-inclusive {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card {
    padding: 20px;
    margin: 20px;
}

.h3-planes {
    color: #982fab;
}

.planes-3x {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.card {
    padding: 24px;
    margin: 20px;
}

.h3-planes {
    color: #982fab;
}

@media (max-width: 600px) {
    .hero-sec-planes {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 300px 300px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "photo photo photo photo"
            "tittle tittle tittle tittle";
        border-top: solid 2px #ffffff;
    }
}

.hero-sec-contacto {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo photo tittle tittle"
        "photo photo tittle tittle";
    border-top: solid 2px #ffffff;
}

.tittle {
    grid-area: tittle;
    background-image: url(../resources/background-newsletter.png);
    background-size: cover;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.photo-contacto {
    grid-area: photo;
    background-image: url(../resources/contacto.png);
    background-size: cover;
}

.form {
    background-color: #212529;
    color: #ffffff;
    padding: 50px;
}

.form-inputs {
    margin: 0 25%;
}

.contacto {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 80px;
}

.contacto-item {
    background-color: #212529;
    ;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 24px;
    width: 300px;
}

.mapa {
    background-color: #212529;
    display: flex;
    justify-content: center;
    padding: 50px;
}

@media (max-width: 600px) {
    .hero-sec-contacto {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 300px 300px;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "photo photo photo photo"
            "tittle tittle tittle tittle";
        border-top: solid 2px #ffffff;
    }

    .form {
        width: auto
        ;
    }
}