.contacto {
    @extend .propiedades-basicas;
}

.form {
    color: $white;
    padding: 50px;
}

.form-inputs {
    margin: 0 25%;   
}


.info-contacto {
   @extend .flex-derecha-row;
}
    
    .card {
       padding: 20px;
        margin: 20px; 
        transition: .1s ease-in;
        &:hover {
           transform: scale(1.05);
    }
}

.mapa {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

/* MEDIA QUERYS - MOBILE LAST */

@media (max-width: 600px) {

    .form {
      padding: 0px;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: nowrap;
  }
    
  .mapa {
    padding: 0px 50px 50px 50px;
}
}