.hero-sec-planes {  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 300px 300px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "photo photo tittle tittle"
    "photo photo tittle tittle";
    border-top: solid 2px $white;
}

.tittle { grid-area: tittle; 
  @extend .hero-sections;
}

.photo-planes { grid-area: photo;
  background-image: url(../resources/planes.png);
  background-size: cover;
}
  

@media (max-width: 600px) {
  .hero-sec-planes {  display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 300px 300px;
      grid-auto-columns: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "photo photo photo photo"
        "tittle tittle tittle tittle";
        border-top: solid 2px $white;
    } 
  }