.hero-section {
    border-top: solid 2px $white;
    background-image: url('../resources/dark-plaster-pattern.png');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px;

    h1 {
        color: $white;
        font-family: $font-h;
        transform: translatey(50px);
    }
    

    a {
        color: $darkgrey;
        text-decoration: none;
    }

    button {
        transform: translateY(50px);
        &:hover {
            background-color: $fucsia;
            color: $white;
        }
    }
    .logo-hero {
        height: 200px;
        animation-name: latido;
         animation-duration: 3s;
         animation-iteration-count: infinite;
        }
    }






/* MEDIA QUERYS MOBILE LAST */
@media (max-width: 600px) {
    .logo-hero {
        width: 100%;
    }
}