.horario {
    background-image: radial-gradient(black, $darkgrey);
    padding: 100px 50px;
    min-height: 46.35vh;
    
    table {
        text-align: center;
        align-items: center;
    }
}
