.index {
    @extend .propiedades-basicas;
}


.conocenos {
   @extend .flex-derecha-row;
}

h2 {
    color: $fucsia;
    font-family: $font-h;
}

.text-image-combo-text {
    width: 700px;
    padding: 25px;
}

.text-image-combo-image {
    width: 350px;
    padding: 0px;
    border-radius: 15px;
}



.programas {
    @extend .flex-column;
}

.text-box {
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-programas {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-auto-columns: 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        "camp camp basics drills"
        "camp camp basics kids";
}

.camp {
    grid-area: camp;
    border-radius: 15px;
    background-image: url('../resources/camp.png');
    background-size: cover;
    color: $white;
    font-family: $font-h;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.basics {
    grid-area: basics;
    border-radius: 15px;
    background-image: url('../resources/basics.png');
    background-size: cover;
    color: $white;
    font-family: $font-h;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.drills {
    grid-area: drills;
    border-radius: 15px;
    background-image: url('../resources/drills.png');
    background-size: cover;
    color: $white;
    font-family: $font-h;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.kids {
    grid-area: kids;
    border-radius: 15px;
    background-image: url('../resources/kids.png');
    background-size: cover;
    color: $white;
    font-family: $font-h;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    &:hover {
        background-color: $fucsia;
        color: $white;
    }
}

a {
    color: $darkgrey;
    text-decoration: none;
}



.fight-opportunities {
    @extend .flex-derecha-row;
    font-family: $font-h;
}

.newsletter {
    background-image: url('../resources/background-newsletter.png');
    background-size: cover;
    font-family: "Lato", sans-serif;
    color: $white;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    align-content: space-between;
    flex-wrap: wrap;
}

h3 {
    font-family: $font-h;
}


@media (max-width: 600px) {

    .conocenos {
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-image-combo-text {
        width: auto;
    }

    .text-image-combo-image {
        width: 350px;
    }


    .programas {
        text-align: center;
    }

    .text-box {
        width: auto;
    }

    .info-programas {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-template-rows: 200px 200px;
        gap: 25px 25px;
        grid-template-areas:
            "camp camp basics basics"
            "drills drills kids kids";
        justify-content: center;
    }

    .text-image-combo-text {
        text-align: center;
    }


    .fight-opportunities {
        padding: 20px;
    }
}