.planes {
    background-color: #212529;
    font-family: "Lato", sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    
    .card {
        padding: 20px;
        margin: 20px;
    }
    
    .h3-planes {
        color: #eb4795;
    }
}


@media (max-width: 600px) {

    .planes {
        background-color: #212529;
        font-family: "Lato", sans-serif;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
}