.planes {
    @extend .propiedades-basicas;
    min-height: 48.1vh;
    
}
.info-planes {
    @extend .flex-derecha-row;
    padding: 20px;
    
    
    .card {
        padding: 20px;
        margin: 20px;
        transition: .1s ease-in;
         &:hover {
            transform: scale(1.05);
        }
    }
    
    .h3-planes {
        color: $fucsia;
    }
}

@media (max-width: 600px) {
    .info-planes {
        text-align: center;
    }

    

}
