.planes {
    @extend .propiedades-basicas;
    @extend .flex-derecha-row;
    
    
    .card {
        padding: 20px;
        margin: 20px;
    }
    
    .h3-planes {
        color: $fucsia;
    }
}

@media (max-width: 600px) {
    .planes {
        text-align: center;
    }

    

}
