/* PROGRAMAS */
.programas-detalle {
    @extend .propiedades-basicas;
}

.text-image {
    @extend .flex-derecha-row;
  
    .foto-index {
        height: 300px;
        padding: 20px;
        border-radius: 40px;
        transition: .1s ease-in;
         &:hover {
            transform: scale(1.05);
        }
    }
}